<div class="list-group">
    <div class="list-group-item" ng-repeat="comment in comments | orderBy:'-upvotes'">
        <h4 class="list-group-item-heading"> {{post.title}} </h4>
        <p>
            <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(post)"></span> Upvotes: {{post.upvotes}}
            <a href="#/suggestion/{{$index}}">Comments</a>
        </p>

    </div>
</div>

<form ng-submit="addComment()">
    <h3><em>Submit Your Suggestion</em></h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="body">
    </div>
    <button class="btn btn-primary">Comment</button>
</form>